<h1>Conditional Bean Definitions</h1>

<ul>
    <li>A generalized model for conditional bean definitions</li>
    <ul>
        <li>a more flexible and more dynamic variant of bean definition profiles (as known from Spring 3.1)</li>
        <li>can e.g. be used for smart defaulting</li>
        <li>see Spring Boot (projects.spring.io/spring-boot)</li>
    </ul>
    <li>@Conditional with programmatic Condition implementations</li>
    <ul>
        <li>can react to rich context (existing bean definitions etc)</li>
        <li>profile support now simply a ProfileCondition impl class</li>
        <li>enabling new deployment styles17</li>
    </ul>
</ul>