<h1>Introducing Spring Framework 4.0</h1>

<h3>Ready for new application architectures</h3>
<ul>
    <li>embedded web servers and non-traditional datastores</li>
    <li>lightweight messaging and WebSocket-style architectures</li>
    <li>custom asynchronous processing with convenient APIs</li>
</ul>
<h3>A new baseline</h3>
<ul>
    <li>Java SE 6+ (minimum API level: JDK 6 update 18, ~ early 2010)</li>
    <li>Java EE 6+ (Servlet 3.0 focused, Servlet 2.5 compatible at runtime)</li>
    <li>all deprecated packages removed</li>
    <li>many deprecated methods removed as well</li>
</ul>