<h1>Spring Framework 4 and Java EE 7</h1>
<h3>JMS 2.0</h3>
<ul>
    <li>delivery delay, JMS 2.0 createSession variants etc</li>
</ul>
<h3>JTA 1.2</h3>
<ul>
    <li>javax.transaction.Transactional annotation</li>
</ul>
<h3>JPA 2.1</h3>
<ul>
    <li>unsynchronized persistence contexts</li>
</ul>
<h3>Bean Validation 1.1</h3>
<ul>
    <li>method parameter and return value constraints</li>
</ul>
<h3>JSR-236 Concurrency</h3>
<ul>
    <li>Managed(Scheduled)ExecutorService including trigger support
    </li>
</ul>