<h1>Common Server Generations and Third-Party Libraries</h1>
<ul>
    <li>Tomcat 6.0.33+ (WebSocket on Tomcat 7.0.47+ and 8.0)</li>
    <li>Jetty 7.5+ (WebSocket on Jetty 9.0 and 9.1)</li>
    <li>JBoss 6.1+ (WebSocket on WildFly 8.0)</li>
    <li> GlassFish 3.1+ (WebSocket on GlassFish 4.0)</li>
    <li>WebLogic 10.3.4+ (with JPA 2.0 patch applied)</li>
    <li> WebSphere 7.0.0.9+ (with JPA 2.0 feature pack)</li>
</ul>
<h3>We generally support library versions <=3 years back</h3>
<ul>
    <li>Spring Framework 4.0: minimum versions ~ early 2011</li>
    <li>e.g. Hibernate 3.6+, EhCache 2.1+, Quartz 1.8+, Jackson 1.8+</li>
</ul>