<!DOCTYPE html>
<html ng-app="presentationApp">
<head>
    <title>Spring 4 Presentation</title>
    <meta charset="UTF-8">
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet"/>
    <script src="/js/libs/angular/angular.js"></script>
    <script src="/js/libs/angular-route/angular-route.js"></script>
    <script src="/js/libs/angular-resource/angular-resource.js"></script>
    <script src="/js/libs/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="/js/libs/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/js/libs/sockjs/sockjs.js"></script>
    <script src="/js/libs/stomp-websocket/lib/stomp.js"></script>
    <script src="/js/application.js"></script>
    <script src="/js/services.js"></script>
    <script src="/js/controllers.js"></script>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h1>Authentication</h1>

            <div class="alert alert-danger" ng-show="authenticationError">
                <strong>Authentication failed!</strong> Please check your credentials and try again.
            </div>
            <form action="login" method="post" class="form" role="form">
                <div class="form-group">
                    <label for="username">Login</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Login..." ng-model="username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password..." ng-model="password">
                </div>
                <div class="form-group">
                    <label for="rememberMe">Automatic login</label>
                    <input id="rememberMe" type="checkbox" ng-model="rememberMe" checked>
                </div>
                <input type="submit" class="btn btn-primary" value="Authenticate"/>
            </form>
        </div>
    </div>
</div>
</body>
</html>